* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5;
}

.game-container {
  background-color: hsl(37, 100%, 90%);
  padding: 2em;
}

/* Header style */
.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3em;

  text-shadow: 2px 2px 15px hsl(0, 0%, 25%);
}
.header-left-section {
  display: flex;
  flex-direction: column;
  gap: 2em;
}
.header-right-section {
  display: flex;
  flex-direction: column;
  gap: 0.5em;

  font-weight: bold;
  font-size: 1.2rem;
}

/* Card style */
.card {
  max-width: 200px;
  height: auto;

  display: flex;
  flex-direction: column;
  place-content: center;
  flex-wrap: wrap;
  gap: 0.5em;

  padding: 0.8em;

  text-align: center;
  font-size: 1rem;
  color: #333;

  background-color: hsla(0, 0%, 95%, 0.7);
  box-shadow: 5px 5px 20px #333;

  /* border: 1px solid #333; */
  border-radius: 1em;
}
.card:hover {
  cursor: pointer;
  box-shadow: 8px 8px 30px #333;
}
.card:active {
  cursor: pointer;
  box-shadow: 12px 12px 40px #333;
}
.card-image {
  /* width: 100%;
  height: auto; */
  border-radius: 1em;
}

/* Deck style */
.card-container {
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;

  width: 100%;
}

/* Remove bullet points */
ul {
  list-style: none;
}
